<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    <title>{{title}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      p {
        font-size: 16px;
        color: #333333;
        line-height: 21.82px;
      }

      @media only screen and (max-width: 600px) {
        table {
          width: 100% !important;
        }
      }
    </style>
  </head>

  <body
    style="
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: small;
      margin: 0;
      padding: 0;
    "
  >
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      style="max-width: 680px; width: 100%; background: #ff6b00; padding: 0"
    >
      <tr>
        <td style="padding: 20px">
          <table
            cellpadding="0"
            cellspacing="0"
            width="100%"
            style="background: #ffffff; border-radius: 12px; width: 100%"
          >
            <tr>
              <td>
                <table
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    width: 100%;
                    background-color: #ffffff;
                    border-radius: 9px;
                    margin-top: 3px;
                  "
                >
                  <tr>
                    <td height="40"></td>
                  </tr>
                  <tr>
                    <td style="padding: 3px 40px">
                      <table
                        width="auto"
                        cellpadding="0"
                        cellspacing="0"
                        style="border-collapse: collapse"
                      >
                        <tr>
                          <td
                            style="
                              vertical-align: middle;
                              width: auto;
                              height: 82px;
                            "
                          >
                          <img
                            src="cid:logo"
                            alt="SaciaHub Logo"
                            width="82"
                            height="82"
                            style="display: block; border-radius: 50%"
                          />
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td style="padding: 5px 40px">
                      <p
                        style="
                          font-size: 32px;
                          font-family: Young Serif;
                          line-height: 45.18px;
                        "
                      >
                      {{type}} {{title}}
                      </p>
                      <p
                        style="
                          font-size: 16px;
                          color: #333333;
                          line-height: 21.82px;
                        "
                      >
                        <strong>{{name}}</strong> submitted a {{subj}} for <strong>{{timesheet_date}}</strong>,please visit SaciaHub portal for more information.
                      </p>
                    </td>
                  </tr>

                  <tr>
                    <td style="text-align: center; padding: 0px 40px"></td>
                  </tr>

                  <tr>
                    <td style="padding: 0px 40px 20px">
                      <p style="margin: 0; color: #333333">Best Regards,</p>
                      <p
                        style="
                          color: #fa541c;
                          font-weight: bold;
                          margin-top: 2px;
                        "
                      >
                        Saciahub Team
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td>
                <tr>
                  <td
                    style="
                      padding: 20px 10px;
                      color: #333;
                      font-size: 14px;
                      line-height: 22px;
                      text-align: center;
                    "
                  >
                    <p style="margin: 0; font-size: 14px">
                      This email was sent to
                      <a href="#" style="color: #fa541c">{{username}}</a>
                      If you&#39;d rather not receive this kind of email,
                      Don&#39;t want any more emails from SaciaHub?
                      <a href="#" style="color: #fa541c">Unsubscribe</a>.
                      Questions or FAQ? Contact us at
                      <a
                        href="mailto:Support_Saciahub@blackrockitsolutions.com"
                        style="color: #fa541c"
                      >
                        Support_Saciahub@blackrockitsolutions.com
                      </a>
                    </p>

                    <p style="margin: 20px 0 5px; font-size: 14px">
                      4840 E Jasmine street, suite#105 Mesa, Arizona 85205
                    </p>
                    <p style="margin: 0 0 15px; font-size: 14px">
                      &copy; 2025 SaciaHub
                    </p>

                    <div style="padding-top: 2rem">
                      <a href="https://www.linkedin.com/company/blackrock-it-solutions" target="_blank"
                    style="margin-right: 15px"><img src="cid:linkedin"
                      alt="LinkedIn" style="
                      width: 25px;
                      height: 25px;
                      object-fit: contain;
                    " /></a>
                  <a href="https://www.blackrockitsolutions.com/" target="_blank" style="margin-right: 15px"><img
                      src="cid:world" alt="Website" style="
                          width: 25px;
                          height: 25px;
                          object-fit: contain;
                        " /></a>
                  <a href="https://brits.saciahub.com/" target="_blank"><img
                      src="cid:twitter" alt="Twitter" style="
                          width: 25px;
                          height: 25px;
                          object-fit: contain;
                        " /></a>
                    </div>
                  </td>
                </tr>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
