<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="img-src 'self' data: https:">
  <title>Welcome to SachiaHub</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet" />
</head>

<body style="font-family: Nunito, sans-serif; margin: 0; padding: 0">
  <center>
    <table align="center" cellpadding="0" cellspacing="0" style="
          max-width: 650px;
          background-color: #ff7a00;
          border-radius: 10px;
          padding: 15px;
          width: 100%;
        ">
      <tr>
        <td>
          <table cellpadding="0" cellspacing="0" style="
                width: 100%;
                background-color: #ffffff;
                border-radius: 9px;
                padding-top: 4px;
              ">

            <tr>
              <td height="40"></td>
            </tr>
            <tr>
              <td style="padding: 3px 40px">
                <table width="auto">
                  <tr>
                    <td style="vertical-align: middle; width: auto; height: 82px;">
                      <img
                            src="{{logo}}"
                            alt="SaciaHub Logo"
                            width="82"
                            height="82"
                            style="display: block; border-radius: 50%"
                        />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td style="padding: 5px 40px">
                <p style="
                      font-size: 32px;
                      font-family: 'Young Serif', serif;
                      line-height: 45px;
                    ">
                  {{name}}
                </p>
                <p style="
                      font-size: 16px;
                      color: #333333;
                      line-height: 21.82px;
                    ">
                  You&rsquo;ve just unlocked a whole new way to work smarter,
                  not harder &ndash; welcome to SaciaHub!
                </p>
                <p style="
                      font-size: 16px;
                      color: #333333;
                      line-height: 21.82px;
                    ">
                  We&rsquo;re glad to have you onboard! Your account has been
                  created, and we&rsquo;re eager for you to get started.
                </p>
              </td>
            </tr>

            <tr>
              <td align="left" style="padding: 10px 40px">
                <table border="0" cellspacing="0" cellpadding="0" role="presentation">
                  <tr>
                    <td align="left" style="border-radius: 7px; width: 100%">

                      <a href={{action_url}} target="_blank" style="
                            border-radius: 7px;
                            /* border-color: transparent; */
                            background: linear-gradient(
                              180deg,
                              #fa541c 0%,
                              #ff6b00 100%
                            );
                            background-color: #fa541c;
                            display: inline-block;
                            width: auto;
                            font-family: Nunito, Arial, sans-serif;
                            text-decoration: none;
                            color: #ffffff;
                            font-size: 16px;
                            font-weight: bold;
                            text-align: center;
                            mso-padding-alt: 0 30px 0 30px;
                            padding: 15px 30px;
                          ">
                        <![endif]-->
                          Let&rsquo;s Get Started
                          <!--[if !mso]><!-- -->
                      </a>
                      <!--<![endif]-->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <td style="padding: 20px 40px">
              <p style="margin-bottom: 5px; color: #333333; font-size: 16px">
                Best Regards,
              </p>
              <p style="margin: 0; color: #fa541c; font-weight: bold">
                Saciahub Team
              </p>
            </td>
          </table>
        </td>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <div style="
              /* border: 1px solid red; */
                margin: 10px auto;
                background-color: #ffffff;
                width: auto;
                height: auto;
                border-radius: 10px;
                padding: 10px;
                color: #000000cc;
              ">
              <table cellpadding="10" cellspacing="0" style="
              width: 90%;
              border-radius: 5px;
              margin: auto;
              margin-top: 40px;
            ">
            <tr>
              <td style="color: #000000;font-size: 26px;font-weight: 800;line-height: 39px;">Get started in just 2
                steps:</td>
            </tr>
            <tr>
              <td>
                <table cellpadding="10" cellspacing="0" style="background-color: #ffffff; border-radius: 5px; width: 100%;">
                  <tr>
                    <td style="width: 100px; text-align: center;">
                      <img src="cid:step1"
                           alt="Let's Get Started"
                           style="display: block;" />
                    </td>
            
                    <td style="padding-left: 30px;">
                      <p style="font-size: 20px; margin: 10px; color: #000000; font-weight: 800; line-height: 30px;">
                        Step 1
                      </p>
                      <p style="font-size: 16px; 
                          margin: 10px; 
                          color:#000000DE; 
                          font-family: Nunito, sans-serif;
                          font-weight: 500;
                          line-height: 24px;">
                        Click Let&rsquo;s Get Started Button, you&rsquo;ll be redirected to SaciaHub Portal
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table cellpadding="10" cellspacing="0"
                  style="background-color: #ffffff; border-radius: 5px; width: 100%;">
                  <tr>
                    <td style="width: 100px; text-align: center;">
                      <img src="cid:step2" alt="Step 2"
                        style="display: block;" />
                    </td>

                    <td style="padding-left: 30px;">
                      <p style="font-size: 20px; margin: 10px; color: #000000; font-weight: 800; line-height: 30px;">
                        Step 2
                      </p>
                      <p style="
                          font-size: 16px; 
                          margin: 10px; 
                          color:#000000DE; 
                          font-family: Nunito, sans-serif;
                          font-weight: 500;
                          line-height: 24px;">
                        Enter your password and hit Submit, hurray, you&rsquo;re in!
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
            <div style="
                  width: 100%;
                  height: auto;
                  margin: auto;
                  padding-top: 21px;
                  border-radius: 5px;
                ">
              <p style="
                    margin: 0 0 7px;
                    font-family: Nunito;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.20000000298023224px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                  ">
                This email was sent to <a href="#" style="color: #fa541c;">{{username}}</a>. If you'd
                rather not receive this
              </p>
              <p style="
                    margin: 10px;
                    margin-top: -10px;
                    font-family: Nunito;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.20000000298023224px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                  ">
                kind of email, Don&rsquo;t want any more emails from SaciaHub?
                <a href="#" style="color: #fa541c;">Unsubscribe</a>.
              </p>
              <p style="
                    margin: 10px;
                    margin-top: -10px;
                    font-family: Nunito;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.20000000298023224px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                  ">
                Questions or FAQ? Contact us at
                <a href="mailto:Support_Saciahub@blackrockitsolutions.com"
                  style="color: #fa541c;">Support_Saciahub@blackrockitsolutions.com</a>.
              </p>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td align="center"
                    style="padding: 10px 0px 2px; font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    &copy; 2025 SaciaHub
                  </td>
                </tr>
                <tr>
                  <td align="center"
                    style="padding: 1px 10px; font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    By
                  </td>
                </tr>
                <tr>
                  <td align="center"
                    style="padding: 2px 10px 10px; font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    Blackrock IT Solutions
                  </td>
                </tr>
              </table>

              <div style="width: 20%; height: auto; margin: auto; padding-top: 5px; border-radius: 5px;">
                <a href="https://www.linkedin.com/company/blackrock-it-solutions" target="_blank" style="margin-right: 15px">
                  <img src="cid:linkedin" alt="LinkedIn" style="width: 25px; height: 25px; object-fit: contain;" />
                </a>
                <a href="https://www.blackrockitsolutions.com/" target="_blank" style="margin-right: 15px">
                  <img src="cid:world" alt="Website" style="width: 25px; height: 25px; object-fit: contain;" />
                </a>
                <a href="https://brits.saciahub.com/" target="_blank">
                  <img src="cid:twitter" alt="Twitter" style="width: 25px; height: 25px; object-fit: contain;" />
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </center>
</body>

</html>